div.gallery {
    background: radial-gradient(#ffd1f6, #ff99ea, #c399ff, #aab3ff) fixed;
    box-shadow: -1px -1px 0 #C399FF,  
    1px -2px 0 #ff99ea,
    -1px 1px 0 #C399FF,
    1px 2px 0 #ff99ea;
    border-radius: 10%;
    font-size: 12px;
}

div.gallery:hover {
    background: #c399ff;
    background-image: url('../imgs/giphy15.gif');
}

div.gallery img {
    width: 90%;
    height: auto;
    border: 2px solid #C399FF;
    border-radius: 10%;
    margin: 5%;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}